# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
/venv/

# Environment variables
.env

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.whl

# Lambda deployment packages
lambda_function.zip

# OS files
.DS_Store
